<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>POGGERS</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.25.2.min.js" charset="utf-8"></script>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">

        <div class="header">
            <div class="frontpage" @click="IntoFrontpage">
                Forside
            </div>
            <div class="otherpages" @click="IntoElprispage">
                Elpriser
            </div>
            <div class="otherpages" @click="IntoPage1">
                Mit El
            </div>
            <div class="otherpages" @click="IntoPage2">
                Elfællesskab
            </div>
            <div class="userpage" @click="IntoUserpage">
                Bruger
            </div>
        </div>

        <div class="page" v-if="Frontpage">
            insert fluff here
        </div>

        <div class="page" v-if="Elprispage">
            <button hidden id="LineBTN" type="button" @click="Line">LINE</button>
            <div class="Elpristext">
                Elprisen er nuværende <br><br>
                <a class="Pris">{{CurrentValue}} kr./kWh</a>
            </div>
            <div class="Elprisgraph" id="lineChart" style="width:100%;max-width:70%;height:40%"></div>
        </div>

        <div class="page" v-if="Page1">
            
            <button hidden id="PieBTN" type="button" @click="Pie">PIE</button>
            <div class="Pies" id="pieChart" style="width:100%;max-width:600px;height:auto"></div>
            <div class="Pies" id="pieChart2" style="width:100%;max-width:600px;height:auto"></div>

        </div>

        <div class="page" v-if="Page2">
            hmmm
        </div>

        <div class="page" v-if="Userpage">
            login happens here (later)   
        </div>

    </div>

    <script src="js/index.js"></script>
    <script>app.mount('#app');</script>
</body>
</html>