html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    }
.header{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width:100%;
    background-color: #2596be;
    overflow: auto;
}
.Elpristext{
    float: left;
    background-color: #2596be;
    padding: 1%;
    margin-top: 10%;
    margin-left: 2%;
    width: 20%;
    height: 20%;
    text-align: center;
    font-size: larger;
}
.Pris{
    font-size: x-large;
}
.Elprisgraph{
    float: left;
    width: 40%;
}
.Pies{
    float: left;
}
.frontpage{
    float: left;
    padding: 30px;
    margin-left: 10%;
    width: 8%;
    font-size: larger;
}
.frontpage:hover{
    background-color: #58a9c7;
}
.otherpages{
    float: left;
    padding: 30px;
    width: 8%;
    font-size: larger;
}
.otherpages:hover{
    background-color: #58a9c7;
}
.userpage{
    float: right;
    padding: 30px;
    margin-right: 10%;
    width: 8%;
    font-size: larger;
}
.userpage:hover{
    background-color: #58a9c7;
}
.page{
    margin:1%;
}
.KwH{
    font-size: larger;
    text-align: center;
}
.elInfo{
    float: left;
    width: 16%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 2%;
    background-color: #ff7f0e;
}